body{
    height: 95vh;
    width: 95vw;
    display: flex;
    justify-content:center;
    align-items: center; 
    background-color: rgba(96, 184, 255, 0.979);  
}

.box{
    animation: card 2s cubic-bezier(0.32, 0, 0.67, 0) alternate infinite;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

@keyframes card {
    0% {
        transform: rotateX(0deg);
    }

    25%{
        transform: rotateX(90deg);
    }

    50%{
        transform: rotateY(0deg)
    }

    100%{
        transform: rotateY(90deg);
    }
}
